/* Base Layout Styling (Genereal Grouping) */
    /* Commented out the 'flex-direction' during this project, so as to view the "3" sections that I made, for easier styling view (toggled on/off to check settings as changes were made) */

    /* Minimize style property code that you are initially content with, to avoid getting lost in scrolling the style sheet */

    /* Sources to remember: 
        https://imagecolorpicker.com/en/ (can upload image from computer to source your color match */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  font-size: 1em;
  color: #2d3945;
}

.container {
  display: flex;
  flex-direction: column;
}

header h1,
header h2,
header p,
footer {
  text-align: center;
}

.flexbox {
  margin-right: .8em;
  margin-left: .8em;
}

label,
p {
  color: rgb(120, 117, 117);
}

header h1 {
  background: #2d3945;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 25px 40px;
}

header h2 {
  padding-top: 25px;
  padding-bottom: 9px;
  font-weight: 700;
}

header p {
  font-size: 1.2em;
  letter-spacing: .3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.hb1 {
  border: 3px solid #2d3945;
  margin-bottom: 3px;
  margin-left: .7em;
  margin-right: .7em;
}

.hb2,
.hb3 {
  border: 1px solid #2d3945;
  margin-left: .7em;
  margin-right: .7em;
}

fieldset {
  border: none;
}

legend {
  font-weight: bolder;
  font-size: 1.4em;
  margin-left: .5em;
  padding-top: 25px;
  padding-bottom: 20px;

}

label {
  display: block;
  margin-top: 1.0em;
  margin-bottom: .5em;
}

input::placeholder {
  text-align: right;
  font-size: .9em;
  font-style: italic;
}

input,
#state,
#users_interests {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  background: rgba(184, 178, 178, 0.172);
  border: none;
  color: rgb(52, 48, 48);
}

input:focus,
#state:focus {
  outline: none;
  box-shadow: 0 0 10px 2px #2d3945;
  background-color: rgba(240, 230, 140, 0.078);
  transition: 0.4s;
}

#zip {
  width: 50%;
  margin-left: 0;
  margin-bottom: 25px;  
}

.newsletter_format p {
  padding-left: .8em;
}

.newsletter_format .flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
}

.newsletter_format input {
  width: initial;
}

.newsletter_format label {
  margin: auto 10px 0;
}

.format_header {
  margin-top: .8em;
  margin-bottom: .5em;
}

.newsletter_format [for="users_interests"] {
  width: 100%;
  margin-left: 0;
  margin-bottom: .5em;  
}

#users_interests {
  padding: 14px 8px 30px 8px;
  border-radius: 4px;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #2d3945;
  background-color: rgba(240, 230, 140, 0.078);
  transition: .4s;

}

.newsletter_format section {
  margin-bottom: .5em;
  margin-top: .5em;
}

.newsletter_format button {
  flex: 1;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0;
  cursor: pointer;  
}

.container footer {
  padding: 25px 20px;
  font-style: italic;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
    margin: auto;
  } 

   .contact_info .flexbox {
    display: flex; 
    flex-direction: row;
    margin-bottom: .9em;
  }

  .contact_info label {
    flex-basis: 25%;
    padding-bottom: .5em;
  }

  .contact_info input {
    flex-basis: 91%;
  }

  #state {
    margin-left: 2%;
  }

  .contact_info .flexbox #zip {
    flex-basis: 30%;
    margin-left: -3.5%;
    margin-right: .5%;
    margin-bottom: 25px;
  }



 

  




  


}


















